/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@300;500&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Lora&family=Poppins:wght@300;500&family=Roboto&display=swap');*/

/*color: #1e3b1a;*/
@import url('global.css');

.Teashop-container{
    padding-top: 30px;
    padding-bottom: 60px;
}
#sorting{
    float: right;
    padding: 10px;
    font-family: var(--font3);
    font-size: 14px;
    min-width: 200px;
    color: #8da681;
    background-color: rgba(21,46,19,0);
    border-color: #8da681;
    margin: 20px;
}
.product--price{
    color: var(--btn-color);
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    font-family:var(--font3);
    margin-left: 28px;
}
.product--name{
    margin-left: 28px;
}
.product--name a{
    text-decoration: none;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: var(--btn-color);
    font-family: var(--font2);
}

.shop-filter{
    background-image: url("../images/stripes_5_b.png");
    margin: auto;
    font-family: var(--font3);
    width: 1080px;
    height:80px;
}
.shop-filter p{
    padding: 10px 10px;
    display: inline-block;
}
.gallery{
    width: 80vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.album{
    width: 300px;
    height: 258px;
    margin: 2rem 2rem;
    display: flex;
}
.product--image{
    align-self: center;
    margin: auto;
    box-shadow: 8px 8px 20px black;
}

.product-1{
    background-color: #262628;
}
.product-2{
    background-color: #bababc;
}
.product-3{
    background-color: #6a2528;
}
.product-4{
    background-color: #274649;
}
.product-5{
    background-color: #392338;
}
.product-6{
    background-color: #aeabbe;
}
.product-7{
    background-color: #a08870;
}
.product-8{
    background-color: #365d2e;
}
.product-9{
    background-color: #c8a2af;
}
img:hover{
    transform: scale(1.1);
    transition: transform 0.3s;
}